SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[STATUS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[STATUS](
	[STAT_ID] [int] NOT NULL,
	[STAT_CODE] [varchar](10) NOT NULL,
	[STAT_DESC] [varchar](50) NOT NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[STAT_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DEPT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DEPT](
	[DEPT_ID] [int] NOT NULL,
	[DEPT_CODE] [varchar](10) NOT NULL,
	[DEPT_NAME] [varchar](10) NOT NULL,
	[DEPT_NEXT_SSR] [int] NOT NULL,
 CONSTRAINT [PK_DEPT_1] PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOCUMENTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DOCUMENTS](
	[NAME] [varchar](256) NULL,
	[MIME_TYPE] [varchar](128) NULL,
	[DOC_SIZE] [int] NULL,
	[DAD_CHARSET] [varchar](128) NULL,
	[LAST_UPDATED] [datetime] NULL,
	[LAST_UPDATED_BY] [varchar](100) NULL,
	[CONTENT_TYPE] [varchar](128) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[BLOB_CONTENT] [nvarchar](max) NULL,
	[DOCID] [int] NULL,
	[SSRS_ID] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRIORITY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRIORITY](
	[PRIO_ID] [int] NOT NULL,
	[PRIO_CODE] [varchar](10) NOT NULL,
	[PRIO_DESC] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PRIORITY] PRIMARY KEY CLUSTERED 
(
	[PRIO_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ROLES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ROLES](
	[ROLE_ID] [int] NOT NULL,
	[ROLE_CODE] [varchar](10) NOT NULL,
	[ROLE_DESC] [varchar](30) NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SSR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SSR](
	[SSRS_ID] [int] NOT NULL,
	[SSRS_PRODID] [int] NOT NULL,
	[SSRS_DEPTID] [int] NOT NULL,
	[SSRS_SSRNUMBER] [int] NOT NULL,
	[SSRS_DESCRIPTION] [varchar](60) NOT NULL,
	[SSRS_REQUESTEDBY] [int] NOT NULL,
	[SSRS_RECEIVEDateTime] [datetime] NOT NULL,
	[SSRS_QAREVIEWFLAG] [varchar](1) NOT NULL,
	[SSRS_UPDateTimeBY] [int] NOT NULL,
	[SSRS_UPDateTimeACTION] [varchar](10) NOT NULL,
	[SSRS_UPDateTimeDateTime] [datetime] NOT NULL,
	[SSRS_PRIORITYID] [int] NOT NULL,
	[SSRS_STATUSID] [int] NOT NULL,
	[SSRS_GROUPID] [int] NULL,
	[SSRS_TEAMID] [int] NULL,
	[SSRS_PARENTSSR] [int] NULL,
	[SSRS_LONGDESCRIPTION] [varchar](2000) NULL,
	[SSRS_WORKORDERNUM] [varchar](10) NULL,
	[SSRS_INITESTHOURS] [int] NULL,
	[SSRS_INITESTDOLLARS] [int] NULL,
	[SSRS_FINALESTHOURS] [int] NULL,
	[SSRS_FINALESTDOLLARS] [int] NULL,
	[SSRS_ASSIGNDateTime] [datetime] NULL,
	[SSRS_ASSIGNEDTO] [int] NULL,
	[SSRS_STARTDateTime] [datetime] NULL,
	[SSRS_QADUEDateTime] [datetime] NULL,
	[SSRS_QARECEIVEDateTime] [datetime] NULL,
	[SSRS_QASTARTDateTime] [datetime] NULL,
	[SSRS_QACOMPLETEDateTime] [datetime] NULL,
	[SSRS_NALREQUESTDateTime] [datetime] NULL,
	[SSRS_NALCOMPLETEDateTime] [datetime] NULL,
	[SSRS_PRODCNTRLSENDDateTime] [datetime] NULL,
	[SSRS_PRODCNTRLACCEPTDateTime] [datetime] NULL,
	[SSRS_USERTESTDUEDateTime] [datetime] NULL,
	[SSRS_USERTESTSTARTDateTime] [datetime] NULL,
	[SSRS_USERTESTCOMPDateTime] [datetime] NULL,
	[SSRS_TESTLABDUEDateTime] [datetime] NULL,
	[SSRS_TESTLABSTARTDateTime] [datetime] NULL,
	[SSRS_TESTLABCOMPDateTime] [datetime] NULL,
	[SSRS_PLANNEDIMPDateTime] [datetime] NULL,
	[SSRS_IMPLEMENTDateTime] [datetime] NULL,
	[SSRS_MANDateTimeDateTime] [datetime] NULL,
	[SSRS_CANCELLEDBY] [int] NULL,
	[SSRS_CANCELDateTime] [datetime] NULL,
	[SSRS_CANCELREASON] [varchar](256) NULL,
	[SSRS_IMPACTEDUNITS] [varchar](256) NULL,
	[SSRS_POTENTIALIMPACT] [varchar](256) NULL,
	[SSRS_PLANNEDIMPTIME] [varchar](20) NULL,
	[SSRS_FREQUENCY] [varchar](1) NOT NULL DEFAULT ('O'),
	[SSRS_COMMENT] [varchar](100) NULL,
	[SSRS_CREATEDBY] [int] NULL,
	[SSRS_ON_REPORT] [varchar](3) NULL,
 CONSTRAINT [PK_SSR] PRIMARY KEY CLUSTERED 
(
	[SSRS_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SSR_RESOURCE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SSR_RESOURCE](
	[SSRR_ID] [int] NOT NULL,
	[SSRR_SSRID] [int] NOT NULL,
	[SSRR_RESOURCEID] [int] NOT NULL,
	[SSRR_ROLEID] [int] NOT NULL,
	[SSRR_UPDATEBY] [int] NOT NULL,
	[SSRR_UPDATEACTION] [varchar](10) NOT NULL,
	[SSRR_UPDATEDATE] [datetime] NOT NULL,
	[SSRR_ACTIVEFLAG] [varchar](1) NOT NULL,
	[SSRR_ACTIVEDATE] [datetime] NOT NULL,
	[SSRR_INACTIVEDATE] [datetime] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SSR_HISTORY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SSR_HISTORY](
	[SHST_ID] [int] NOT NULL,
	[SHST_SSRID] [int] NOT NULL,
	[SHST_PRODID] [int] NOT NULL,
	[SHST_DEPTID] [int] NOT NULL,
	[SHST_SSRINT] [int] NOT NULL,
	[SHST_DESCRIPTION] [varchar](60) NOT NULL,
	[SHST_REQUESTEDBY] [int] NOT NULL,
	[SHST_RECEIVEDateTime] [datetime] NOT NULL,
	[SHST_QAREVIEWFLAG] [varchar](1) NOT NULL,
	[SHST_UPDateTimeBY] [int] NOT NULL,
	[SHST_UPDateTimeACTION] [varchar](10) NOT NULL,
	[SHST_UPDateTimeDateTime] [datetime] NOT NULL,
	[SHST_PRIORITYID] [int] NOT NULL,
	[SHST_STATUSID] [int] NOT NULL,
	[SHST_GROUPID] [int] NULL,
	[SHST_TEAMID] [int] NULL,
	[SHST_PARENTSSR] [int] NULL,
	[SHST_LONGDESCRIPTION] [varchar](2000) NULL,
	[SHST_WORKORDERNUM] [varchar](10) NULL,
	[SHST_INITESTHOURS] [int] NULL,
	[SHST_INITESTDOLLARS] [int] NULL,
	[SHST_FINALESTHOURS] [int] NULL,
	[SHST_FINALESTDOLLARS] [int] NULL,
	[SHST_ASSIGNEDTO] [int] NULL,
	[SHST_ASSIGNDateTime] [datetime] NULL,
	[SHST_STARTDateTime] [datetime] NULL,
	[SHST_QADUEDateTime] [datetime] NULL,
	[SHST_QARECEIVEDateTime] [datetime] NULL,
	[SHST_QASTARTDateTime] [datetime] NULL,
	[SHST_QACOMPLETEDateTime] [datetime] NULL,
	[SHST_NALREQUESTDateTime] [datetime] NULL,
	[SHST_NALCOMPLETEDateTime] [datetime] NULL,
	[SHST_PRODCNTRLSENDDateTime] [datetime] NULL,
	[SHST_PRODCNTRLACCEPTDateTime] [datetime] NULL,
	[SHST_USERTESTDUEDateTime] [datetime] NULL,
	[SHST_USERTESTSTARTDateTime] [datetime] NULL,
	[SHST_USERTESTCOMPDateTime] [datetime] NULL,
	[SHST_TESTLABDUEDateTime] [datetime] NULL,
	[SHST_TESTLABSTARTDateTime] [datetime] NULL,
	[SHST_TESTLABCOMPDateTime] [datetime] NULL,
	[SHST_PLANNEDIMPDateTime] [datetime] NULL,
	[SHST_IMPLEMENTDateTime] [datetime] NULL,
	[SHST_MANDateTimeDateTime] [datetime] NULL,
	[SHST_CANCELLEDBY] [int] NULL,
	[SHST_CANCELDateTime] [datetime] NULL,
	[SHST_CANCELREASON] [varchar](256) NULL,
	[SHST_IMPACTEDUNITS] [varchar](256) NULL,
	[SHST_POTENTIALIMPACT] [varchar](256) NULL,
	[SHST_PLANNEDIMPTIME] [varchar](20) NULL,
	[SHST_FREQUENCY] [varchar](1) NOT NULL DEFAULT ('O'),
	[SHST_COMMENT] [varchar](100) NULL,
	[SHST_CREATEDBY] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SSR_EVENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SSR_EVENT](
	[SSRE_ID] [int] NOT NULL,
	[SSRE_SSRID] [int] NOT NULL,
	[SSRE_DESCRIPTION] [varchar](60) NOT NULL,
	[SSRE_IMPLEMENTDATE] [datetime] NOT NULL,
	[SSRE_IMPLEMENTTIME] [varchar](20) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SSR_ADMIN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SSR_ADMIN](
	[SSRA_ID] [int] NOT NULL,
	[SSRA_RESOURCEID] [int] NOT NULL,
	[SSRA_GROUPID] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEAM]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TEAM](
	[TEAM_ID] [int] NOT NULL,
	[TEAM_GROUPID] [int] NOT NULL,
	[TEAM_CODE] [varchar](10) NOT NULL,
	[TEAM_NAME] [varchar](60) NOT NULL,
 CONSTRAINT [PK_TEAM] PRIMARY KEY CLUSTERED 
(
	[TEAM_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUCT](
	[PROD_ID] [int] NOT NULL,
	[PROD_CODE] [varchar](10) NOT NULL,
	[PROD_NAME] [varchar](10) NOT NULL,
	[PROD_ACTIVEFLAG] [varchar](1) NOT NULL,
	[PROD_DEPTID] [int] NOT NULL DEFAULT ((1)),
	[PROD_GROUPID] [int] NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PROD_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RESOURCES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RESOURCES](
	[RSRC_ID] [int] NOT NULL,
	[RSRC_LOGONID] [varchar](8) NOT NULL,
	[RSRC_FIRSTNAME] [varchar](50) NOT NULL,
	[RSRC_LASTNAME] [varchar](50) NOT NULL,
	[RSRC_DEPTID] [int] NOT NULL,
	[RSRC_GROUPID] [int] NULL,
	[RSRC_TEAMID] [int] NULL,
	[RSRC_ACTIVEFLAG] [varchar](1) NOT NULL,
	[RSRC_UPDATEDBY] [int] NOT NULL,
	[RSRC_UPDATEDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_RESOURCES] PRIMARY KEY CLUSTERED 
(
	[RSRC_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GROUPS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GROUPS](
	[GROU_ID] [int] NOT NULL,
	[GROU_DEPTID] [int] NOT NULL,
	[GROU_CODE] [varchar](10) NOT NULL,
	[GROU_NAME] [varchar](60) NOT NULL,
	[GROU_NEXT_SSR] [int] NOT NULL,
 CONSTRAINT [PK_GROUPS] PRIMARY KEY CLUSTERED 
(
	[GROU_ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_DEPTID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR]'))
ALTER TABLE [dbo].[SSR]  WITH CHECK ADD  CONSTRAINT [FK_SSR_DEPTID] FOREIGN KEY([SSRS_DEPTID])
REFERENCES [dbo].[DEPT] ([DEPT_ID])
GO
ALTER TABLE [dbo].[SSR] CHECK CONSTRAINT [FK_SSR_DEPTID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_GROUPID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR]'))
ALTER TABLE [dbo].[SSR]  WITH CHECK ADD  CONSTRAINT [FK_SSR_GROUPID] FOREIGN KEY([SSRS_GROUPID])
REFERENCES [dbo].[GROUPS] ([GROU_ID])
GO
ALTER TABLE [dbo].[SSR] CHECK CONSTRAINT [FK_SSR_GROUPID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_PRIORITYID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR]'))
ALTER TABLE [dbo].[SSR]  WITH CHECK ADD  CONSTRAINT [FK_SSR_PRIORITYID] FOREIGN KEY([SSRS_PRIORITYID])
REFERENCES [dbo].[PRIORITY] ([PRIO_ID])
GO
ALTER TABLE [dbo].[SSR] CHECK CONSTRAINT [FK_SSR_PRIORITYID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_PRODID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR]'))
ALTER TABLE [dbo].[SSR]  WITH CHECK ADD  CONSTRAINT [FK_SSR_PRODID] FOREIGN KEY([SSRS_PRODID])
REFERENCES [dbo].[PRODUCT] ([PROD_ID])
GO
ALTER TABLE [dbo].[SSR] CHECK CONSTRAINT [FK_SSR_PRODID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_STATUSID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR]'))
ALTER TABLE [dbo].[SSR]  WITH CHECK ADD  CONSTRAINT [FK_SSR_STATUSID] FOREIGN KEY([SSRS_STATUSID])
REFERENCES [dbo].[STATUS] ([STAT_ID])
GO
ALTER TABLE [dbo].[SSR] CHECK CONSTRAINT [FK_SSR_STATUSID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_TEAMID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR]'))
ALTER TABLE [dbo].[SSR]  WITH CHECK ADD  CONSTRAINT [FK_SSR_TEAMID] FOREIGN KEY([SSRS_TEAMID])
REFERENCES [dbo].[TEAM] ([TEAM_ID])
GO
ALTER TABLE [dbo].[SSR] CHECK CONSTRAINT [FK_SSR_TEAMID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_TOPARENT_SSR]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR]'))
ALTER TABLE [dbo].[SSR]  WITH CHECK ADD  CONSTRAINT [FK_SSR_TOPARENT_SSR] FOREIGN KEY([SSRS_PARENTSSR])
REFERENCES [dbo].[SSR] ([SSRS_ID])
GO
ALTER TABLE [dbo].[SSR] CHECK CONSTRAINT [FK_SSR_TOPARENT_SSR]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_RESOURCE_RESOURCEID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR_RESOURCE]'))
ALTER TABLE [dbo].[SSR_RESOURCE]  WITH CHECK ADD  CONSTRAINT [FK_SSR_RESOURCE_RESOURCEID] FOREIGN KEY([SSRR_RESOURCEID])
REFERENCES [dbo].[RESOURCES] ([RSRC_ID])
GO
ALTER TABLE [dbo].[SSR_RESOURCE] CHECK CONSTRAINT [FK_SSR_RESOURCE_RESOURCEID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_RESOURCE_ROLEID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR_RESOURCE]'))
ALTER TABLE [dbo].[SSR_RESOURCE]  WITH CHECK ADD  CONSTRAINT [FK_SSR_RESOURCE_ROLEID] FOREIGN KEY([SSRR_ROLEID])
REFERENCES [dbo].[ROLES] ([ROLE_ID])
GO
ALTER TABLE [dbo].[SSR_RESOURCE] CHECK CONSTRAINT [FK_SSR_RESOURCE_ROLEID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_RESOURCE_SSRID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR_RESOURCE]'))
ALTER TABLE [dbo].[SSR_RESOURCE]  WITH CHECK ADD  CONSTRAINT [FK_SSR_RESOURCE_SSRID] FOREIGN KEY([SSRR_SSRID])
REFERENCES [dbo].[SSR] ([SSRS_ID])
GO
ALTER TABLE [dbo].[SSR_RESOURCE] CHECK CONSTRAINT [FK_SSR_RESOURCE_SSRID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_HIST_SSRID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR_HISTORY]'))
ALTER TABLE [dbo].[SSR_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_SSR_HIST_SSRID] FOREIGN KEY([SHST_SSRID])
REFERENCES [dbo].[SSR] ([SSRS_ID])
GO
ALTER TABLE [dbo].[SSR_HISTORY] CHECK CONSTRAINT [FK_SSR_HIST_SSRID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_EVENT_SSRID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR_EVENT]'))
ALTER TABLE [dbo].[SSR_EVENT]  WITH CHECK ADD  CONSTRAINT [FK_SSR_EVENT_SSRID] FOREIGN KEY([SSRE_SSRID])
REFERENCES [dbo].[SSR] ([SSRS_ID])
GO
ALTER TABLE [dbo].[SSR_EVENT] CHECK CONSTRAINT [FK_SSR_EVENT_SSRID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_ADMIN_GROUPID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR_ADMIN]'))
ALTER TABLE [dbo].[SSR_ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_SSR_ADMIN_GROUPID] FOREIGN KEY([SSRA_GROUPID])
REFERENCES [dbo].[GROUPS] ([GROU_ID])
GO
ALTER TABLE [dbo].[SSR_ADMIN] CHECK CONSTRAINT [FK_SSR_ADMIN_GROUPID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SSR_ADMIN_RESOURCEID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SSR_ADMIN]'))
ALTER TABLE [dbo].[SSR_ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_SSR_ADMIN_RESOURCEID] FOREIGN KEY([SSRA_RESOURCEID])
REFERENCES [dbo].[RESOURCES] ([RSRC_ID])
GO
ALTER TABLE [dbo].[SSR_ADMIN] CHECK CONSTRAINT [FK_SSR_ADMIN_RESOURCEID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TEAM_GROUPID]') AND parent_object_id = OBJECT_ID(N'[dbo].[TEAM]'))
ALTER TABLE [dbo].[TEAM]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_GROUPID] FOREIGN KEY([TEAM_GROUPID])
REFERENCES [dbo].[GROUPS] ([GROU_ID])
GO
ALTER TABLE [dbo].[TEAM] CHECK CONSTRAINT [FK_TEAM_GROUPID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCT_DEPT]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUCT]'))
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [PRODUCT_DEPT] FOREIGN KEY([PROD_DEPTID])
REFERENCES [dbo].[DEPT] ([DEPT_ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [PRODUCT_DEPT]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCT_GROUP]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUCT]'))
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [PRODUCT_GROUP] FOREIGN KEY([PROD_GROUPID])
REFERENCES [dbo].[GROUPS] ([GROU_ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [PRODUCT_GROUP]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RESOURCE_DEPTID]') AND parent_object_id = OBJECT_ID(N'[dbo].[RESOURCES]'))
ALTER TABLE [dbo].[RESOURCES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_DEPTID] FOREIGN KEY([RSRC_DEPTID])
REFERENCES [dbo].[DEPT] ([DEPT_ID])
GO
ALTER TABLE [dbo].[RESOURCES] CHECK CONSTRAINT [FK_RESOURCE_DEPTID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RESOURCE_GROUPID]') AND parent_object_id = OBJECT_ID(N'[dbo].[RESOURCES]'))
ALTER TABLE [dbo].[RESOURCES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_GROUPID] FOREIGN KEY([RSRC_GROUPID])
REFERENCES [dbo].[GROUPS] ([GROU_ID])
GO
ALTER TABLE [dbo].[RESOURCES] CHECK CONSTRAINT [FK_RESOURCE_GROUPID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RESOURCE_TEAMID]') AND parent_object_id = OBJECT_ID(N'[dbo].[RESOURCES]'))
ALTER TABLE [dbo].[RESOURCES]  WITH CHECK ADD  CONSTRAINT [FK_RESOURCE_TEAMID] FOREIGN KEY([RSRC_TEAMID])
REFERENCES [dbo].[TEAM] ([TEAM_ID])
GO
ALTER TABLE [dbo].[RESOURCES] CHECK CONSTRAINT [FK_RESOURCE_TEAMID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GROUP_DEPTID]') AND parent_object_id = OBJECT_ID(N'[dbo].[GROUPS]'))
ALTER TABLE [dbo].[GROUPS]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_DEPTID] FOREIGN KEY([GROU_DEPTID])
REFERENCES [dbo].[DEPT] ([DEPT_ID])
GO
ALTER TABLE [dbo].[GROUPS] CHECK CONSTRAINT [FK_GROUP_DEPTID]
