html, body {
    height: 100%
}
#container {
    position:relative;
    width: 900px;
    min-height: 80%;
    padding-top: 100px;
    color: Orange;
    background-image: url("../images/background_admin.gif");
    background-repeat:no-repeat;
    background-color: #000040;
    text-align:center;
}

#content{
    clear:both;
}
#footer {
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #000375;
    height: 2em;
}
/* You need both these to manage the colors of the links */
#login a:link, #login a:visited {
	color: #FFFFFF;  
}

#login {
	padding-right: 28px;
	float: right;
	clear: none;
	color:white;
	font-family:"";
	font-weight: normal;
	font-size: 12px;
	top: 0px;
	text-align: right;
	letter-spacing: +1px;
    margin-top: -30px;
}

h1 {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 32px;
	font-weight: normal;
	letter-spacing: -4px;
	text-transform: lowercase;
}
h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #274690;
	text-transform: lowercase;
	letter-spacing: -2px;
}

.header {
    margin: 0; 
    padding: 5px; 
    color: #eeeeee; 
    letter-spacing: -2px; 
    font-size: 180%;
}

.menu {
    font-size: 1.5em;
    position:absolute;
    top: 10px;
    left: 700px;
    background-color:inherit;
}